<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="Browser" value="chrome"/>
    <add key="Url" value="http://www.cars.com"/>
    <add key="ImplicitWait" value="4"/>
    <add key="ExplicitWait" value="30"/>
  </appSettings>
  <specFlow>
    <unitTestProvider name="Nunit" />
  </specFlow>
</configuration> 